/* minor reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* vars */
@property --color-dark {
  syntax: "<color>";
  inherits: false;
  initial-value: #121212;
}

@property --color-light {
  syntax: "<color>";
  inherits: false;
  initial-value: #f9f3e5;
}
@property --font-size {
  syntax: "<length>";
  inherits: true;
  initial-value: 28px;
}

@property --base-padding {
  syntax: "<length>";
  inherits: true;
  initial-value: 18px;
}
/* global styles */
:root {
  color-scheme: light dark;

  @media (min-width: 768px) {
    --font-size: 36px;
    --base-padding: 36px;
  }
  @media (min-width: 1024px) {
    --font-size: 48px;
  }
}
::selection {
  background-color: light-dark(var(--color-dark), var(--color-light));
  color: light-dark(var(--color-light), var(--color-dark));
}
body {
  font-family: var(--font-atkinson);
  font-size: var(--font-size);
  background-color: light-dark(var(--color-light), var(--color-dark));
  color: light-dark(var(--color-dark), var(--color-light));
  padding: var(--base-padding);
  margin-block-start: 2.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-atkinson);
  font-weight: bold;
  font-size: var(--font-size);
  text-wrap: pretty;
}

p {
  font-size: var(--font-size);
  text-wrap: pretty;
}

input,
button {
  font-size: inherit;
}

section,
header {
  max-width: 25em;
  margin-inline: auto;
}

.pop {
  fill: currentColor;
}

.line {
  fill: light-dark(var(--color-light), var(--color-dark));
}

.skip-link a {
  background-color: light-dark(var(--color-dark), var(--color-light));
  color: light-dark(var(--color-light), var(--color-dark));
  font-size: 18px;
  outline-color: transparent;
}

.text-sm {
  --font-size: 18px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

svg,
img {
  max-width: 100%;
}
