---

---

<form class="waiting-list-form" aria-labelledby="signup-heading">
  <div class="heading">
    <h2 id="signup-heading">Coming Soon.</h2>
    <p class="text-sm">Get early access, drop your email below.</p>
  </div>
  <div class="form-group">
    <label for="email" class="sr-only">Email Address</label>
    <input
      type="email"
      id="email"
      name="email"
      placeholder="your@email.com"
      required
    />
    <p class="text-sm">We respect your privacy. Unsubscribe anytime.</p>
  </div>
  <button type="submit">Join</button>
</form>
<script>
  const form: HTMLFormElement | null =
    document.querySelector(".waiting-list-form");
  const createContact = async (event: SubmitEvent) => {
    const email = document.querySelector<HTMLInputElement>("#email")?.value;
    const payload = {
      email: email,
    };
    event.preventDefault();

    await fetch("/api/sub", {
      method: "POST",
      headers: {
        "content-type": "application/json",
      },
      body: JSON.stringify(payload),
    });
  };

  form?.addEventListener("submit", createContact);
</script>

<style>
  form {
    grid-template-columns: repeat(4, 1fr);
    border-top: 1px solid var(--color-light);
    border-bottom: 1px solid var(--color-light);
    margin-block: 2rem;
    padding-block: 4rem;
    gap: 1rem;

    .heading {
      grid-column: span 2 / span 2;
      h2 {
        margin-block-end: 1rem;
      }
    }

    .form-group {
      margin-block-start: 1rem;
      grid-column: span 2 / span 2;
      grid-row-start: 2;
    }

    button {
      grid-column-start: 3;
      grid-row-start: 2;
    }

    input,
    button {
      padding: 0.5rem 1rem;
      width: 100%;

      @media (min-width: 768px) {
        font-size: 36px;
      }
    }

    input {
      margin-block-end: 0.25rem;
    }

    button {
      cursor: pointer;
      margin-block-start: 1rem;
      margin-block-end: 0.25rem;
      height: fit-content;
      width: fit-content;
    }

    @media (min-width: 768px) {
      display: grid;
    }
  }
</style>
