---
export const prerender = true;

import ExpressionOfInterest from "./ExpressionOfInterest.astro";
---

<section class="intro">
  <h1>Australian music deserves better.</h1>

  <p>
    It deserves our attention, a fair shot on the airwaves. It deserves to stir
    up excitement as the new up and comers do a small bar tour. It deserves to
    not be tucked behind an algorithm or by some keyboard warrior claiming
    nothing good has come out since the 90's.
  </p>

  <p>It deserves to be heard.</p>

  <p>
    We're building something loud. A grassroots way to cut through the noise,
    share the word and give artists a shot without kissing the feet of a
    multinational monopoly.
  </p>

  <p>
    This is for the fans who still give a shit. For the artists doing it without
    a marketing team (hell, even the ones who do). For the community that shows
    up, buys the merch, and tells their mates about their new favourite artist.
  </p>

  <p>Welcome to Dropbears Record Club.</p>

  <!-- <ExpressionOfInterest /> -->
</section>
<style>
  h1 {
    font-weight: bold;
    margin-block-start: 4rem;

    @media (min-width: 768px) {
      margin-block-start: 8rem;
    }
    @media (min-width: 1024) {
      margin-block-start: 8rem;
    }
  }
  .intro {
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
      padding-inline: calc(var(--base-padding) * 1.5);
    }
  }

  p {
    margin-block-end: 2rem;
  }
</style>
