---
import { Font } from "astro:assets";
import "../styles/main.css";
import { SkipLink } from "accessible-astro-components";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Drop Bears Record Club | Australian Music Release Radar</title>
    <Font cssVariable="--font-atkinson" />
  </head>
  <body>
    <SkipLink />
    <slot />
  </body>
</html>
